[submodule "themes/dimension"]
    path = themes/dimension
    url = https://github.com/sethmacleod/dimension.git

[submodule "public"]
	path = public
	url = git@github.com:facted-net/facted-net.github.io.git
	branch = master
